/* Wyldthingz.net CSS
 Written by: Joshua Olson 2011

Primary colors
Silver #cccccc
Yellow #ccb351
Black #000000

Fonts used
Primary: Verdana, Arial, Helvetica, sans-serif
Important text: Georgia, Times New Roman, Times, serif;
Special: KuenstlerScript Medium, Marker Felt


 */


/* Elements */
body {
    background-color: #000000;
    color: #ffffff;
    margin-top: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:link {
    color: #E6CA5C;
}

a:visited {
    color: #5B3700;
}

a:active {
    color: #FFF5D8;
}

/* Classes */
.allcontent {
    /* color: #AD6610; */
    color: #663300;
    background-color: #817F70;
    margin-left: 10%;
    margin-right: 10%;
}

.header, .footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    clear: left;
}

.navigation {
    margin: 10px;
}

.navigation a {
    text-decoration: none;
}

.cat{
    color: #A88743;
    background-color: #C1B38C;
    padding: 0px 10px;
    margin-right: 40px;
    border: thin solid;
    height: 800px;
}

.main{
     /* color: #ffcc66; */
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #a69a78;
    padding: 0px 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 370px;
    border: medium solid;
    height: 800px;
}

.images {
    float: left;
    margin: 20px 30px;
    width: 400px;
    text-align: center;
}

.images img{
    border: thin solid;
}

.thumbnails img{
    width: 75px;
}

.image_container{
    width: 400px;
    height: 730px;
}

.aboutme {
    margin: 15px;
    padding: 15px;
}

.aboutme h1, h2{
    text-align: center;
}

.savannah {
    color: #cccccc;
    font-weight: bold;
    font-size: 1.2em;
    font-family: KuenstlerScript Medium, Marker Felt;
}

.savannah a:link {
    color: #777777;
}

.sidebar {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #A69A78;
    border: solid;
    padding: 0px 10px;
    margin: 10px;
    float: right;
    width: 300px;
}

.sidebar img {
    margin: auto;
}

.faq {
    color: #f2f2f2;
    # font-family: Georgia, Times New Roman, Times, serif;
}

#pet_stores {
    color: #99ff99
}

/* IDs */
#large {
    width: 400px;
    padding-top:auto;
    padding-bottom: auto;
    vertical-align: middle;
}

#home {
    margin: 0px;
    background-color: #663300;
    width: 100%;
}
 
img#home {
}

#kittens {
    color: ff6699;
}